@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Balsamiq Sans', cursive;
}

body {
  max-width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 30px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  /* without align-items search bar is trying to stretch out */
  align-items: center;
  /* gap: 90px; */
  padding: 10px 20px;
  background-color: #CCCCCC;
  margin-bottom: 30px;
}

.nav-bar>h1 {
  flex: 1
}

.nav-bar>div {
  display: flex;
  justify-content: space-between;
  flex: 2
}

#login-btn {
  padding: 2px 10px;
  border: black solid 2px;
  box-shadow: 2px 3px black;
  background-color: dodgerblue;
  color: white;
}

#search-bar {
  padding: 2px 5px;
  width: 60%;
  border: black solid 2px;
}

/* main body */
.main-body {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.col-left {
  flex: 2;
}

.col-right {
  flex: 1
}

/* left column */
.card {
  display: flex;
  justify-content: space-between;
  border: black solid 3px;
  margin-bottom: 20px;
  gap: 40px;
}

.left-card {
  text-align: center;
  padding: 10px;
  flex: 1
}

.left-card>div>* {
  margin-bottom: 2px;
}

.word {
  font-size: 2.3rem;
}

.definition {
  font-size: 1.1rem;
}

.likes-box {
  background-color: #FFD966;
  padding: 5px 0px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: black solid 2px;
  box-shadow: 2px 3px black;
  /* width: 80px; */
}

.right-card {
  align-self: center;
  margin-right: 10%;
  flex: 2
}

.col-right .card {
  display: block;
  border: black solid 3px;
  margin-bottom: 20px;
  padding: 5px 10px;
}

.add-definition-box {
  background-color: #93C47D;
  padding: 5px 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: black solid 2px;
  box-shadow: 2px 3px black;
  text-align: center;
  font-weight: bold;
  width: 100%
}

#define-word-title {
  font-size: 1.5rem;
}

/* JS functionality */

.hidden {
  visibility: hidden;
}