* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 30px;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  /* without align-items search bar is trying to stretch out */
  align-items: center;
  gap: 90px;
  padding: 10px 20px;
  background-color: grey;
  margin-bottom: 30px;
}

#login-btn {
  padding: 0px 10px;
  border: black solid 2px;
  box-shadow: 2px 2px black;
  background-color: dodgerblue;
  color: white;
}

#search-bar {
  width: 50%;
  border: black solid 2px;
}

/* main body */
.main-body {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.col-left {
  flex: 2;
}

.col-right {
  flex: 1
}

/* left column */
.card {
  display: flex;
  justify-content: space-between;
  border: black solid 2px;
  margin-bottom: 20px;
  gap: 40px;
}

.left-card {
  text-align: center;
  padding: 10px;
  flex: 1
}

.left-card>div>* {
  margin-bottom: 2px;
}

.likes-box {
  background-color: goldenrod;
  padding: 5px 0px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: black solid 2px;
  box-shadow: 2px 2px black;
  /* width: 80px; */

}

.right-card {
  align-self: center;
  margin-right: 10%;
  flex: 2
}