@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap%27');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Balsamiq Sans', cursive;
}

header,
main {
  padding: 20px 10%;
}

h2 {
  font-size: 2rem;
  font-weight: 100;
}

/* site header */
header {
  background-color: #9FC5F8;
  color: white;
  display: flex;
  justify-content: space-between;
}

header>h1 {
  font-size: 3rem;
  flex: 4
}

#cities {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 5;
}

#cities>li {
  list-style: none;
  font-size: 1.8rem;
}

/* end of siteheader */

/* main-seciton header */
#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tempCorF {
  display: flex;
  align-items: center;
  gap: 15px;
}

#tempCorF>* {
  font-size: 1.1rem;
}

select {
  padding: 5px 0px;
}

hr {
  margin: 20px 0px;
  ;
}

/* end of main-seciton header */

/* main weather area */
#main-content {
  display: flex;
  justify-content: space-between
}

.weather-card {
  background-color: #EEEEEE;
  text-align: center;
  padding: 20px;
}

.weather-card>img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.weather-card>h2 {
  font-size: 1.7rem;
}

.weather-card>* {
  margin-bottom: 10px;
}

.high-low-temps {
  display: flex;
  justify-content: space-between;
  margin-top: 30px
}

.high-temp,
.hot-degree {
  font-size: 1.4rem;
  font-weight: bold;
  color: red
}

.low-temp,
.cold-degree {
  font-size: 1.4rem;
  font-weight: bold;
  color: blue
}

.high-temp::after,
.low-temp::after {
  content: "\00b0";
}


/* main weather area end */

/* cookie  */
#cookie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: 0 10%;
  padding: 10px 20px;
  border: 3px solid black;
  background-color: #EEEEEE;

  position: fixed;
  top: 55%;
}

#cookie>p {
  font-size: 1.2rem;
  flex: 4;
}

button {
  background-color: #96BAEA;
  border: 2px solid black;
  box-shadow: 3px 3px black;
  flex: .5;
  padding: 5px 10px;
  font-size: 1.1rem;
  min-width: fit-content;
}

#cookie-title {
  font-size: 1.5rem;
}

/* cookie end */